@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Nanum+Gothic&family=Readex+Pro:wght@300&display=swap');

*{ 
    margin :0;
    padding: 0; 
    box-sizing: border-box; 
}

.body{
    background-color: #140C03;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-areas: "header header header"
                         "main   main   main"
                         "footer footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
}

.grid-lineas{
    display: grid;
    grid-template-areas: "header header header"
                         "main-l main-l main-l"
                         "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
}

/* HEADER */

.header{
    height: 80px;
    width: 100%;
    grid-area: header;
    padding: 1rem 1rem;
    background-image: linear-gradient(to right, #140C03, #008000);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.header-nav{
    width: 750px;
    height: 80px;
}

.header-ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    list-style: none;
}

.header-a{
    color: #008000;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.header-logo{
    padding: 5px; 
    margin: 0px;
    border: none;
    width: 200px;
    height: 80px;
    transition: transform 2s, opacity 1s;
}

.header-logo:hover{
    transform: skewY(25deg);
}

/* MAIN */

.main{
    grid-area: main;
}

.main-section-one{
    background-color: #140C03;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.main-img{
    border: none;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.main-ph{
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    color: #140C03;
    position: absolute;
    top: 700px;
    left: 400px;
}

.main-h2{
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 430px;
    margin-bottom: 20px;
    color: #008000;
    display: inline-block;
}

.main-h2-ph{
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    margin-left: 335px;
    margin-bottom: 30px;
    color: #008000;
}

.main-btn{
    background-color: #140C03;
    color: #008000;
    height: 50px;
    width: 100px;
    position: absolute;
    margin-left: 420px;
    margin-top: 10px;
}

.main-two-img{
    height: 250px;
    width: 350px;
    position: absolute;
    top: 810px;
    left: 800px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.main-pf-h2{
    background-color: #140C03;
    font-family: 'Dongle', sans-serif;
    display: inline-block;
    font-size: 40px;
    color: #008000;
    margin-top: 30px;
    margin-left: 543px;
}

.main-pf{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    color: #008000;
    margin-bottom: 30px;
    height: 200px;
    margin-left: 5px;
    margin-right: 5px;
}


.main-div{
    background-color: #140C03;
    border: 2px solid;
    padding: 10px;
    height: 100%;
}

.main-h3{
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 8px;
}

.main-p{
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.main-section-two{
    background-color: #140C03;
    width: 100%;
    height: 300px;
    border: 1px solid #008000;
    margin: 3px 3px 3px 3px;
}

.main-h2{
    color: #008000;
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
}

/* MAIN LINEAS */

.main-l{
    grid-area: main-l;
}

.lineas-div-one{
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

.lineas-img-one{
    width: 750px;
    height: 350px;
    margin-left: 240px;
}

.lineas-section-p1{
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    color: #008000;
    position: absolute;
    left: 515px;
    top: 325px;
}

.lineas-div-two{
    width: 100%;
    height: 400px;
}

.lineas-img-two{
    width: 750px;
    height: 350px;
    margin-left: 240px;
}

.lineas-section-p2{
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    color: #008000;
    position: absolute;
    left: 515px;
    top: 715px;
}

.lineas-div-three{
    width: 100%;
    height: 400px;
}

.lineas-img-three{
    width: 750px;
    height: 350px;
    margin-left: 240px;
}

.lineas-section-p3{
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    color: #008000;
    position: absolute;
    left: 515px;
    top: 1115px;
}

.lineas-div-four{
    width: 100%;
    height: 400px;
}

.lineas-img-four{
    width: 750px;
    height: 350px;
    margin-left: 240px;
}

.lineas-section-p4{
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    color: #008000;
    position: absolute;
    left: 515px;
    top: 1515px;
}

/* FOOTER */

.footer{
    grid-area: footer;
    display: grid;
    grid-template-areas: "footer-div"
                         "pie";
    grid-template-rows: 95%;
    grid-row-gap: 10px;
    background-color: #140C03;
    color: #008000;
    width: 100%;
    height: 140px;

}

.footer-div{
    grid-area: footer-div;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: space-around;
    justify-content: space-evenly;
}


footer div ul h3{
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

footer div ul li{
    list-style: none;
    line-height: 25px;
}

footer div ul li p{
    color: #008000;
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
}

.footer-logo{
    margin: 0px;
    border: none;
    width: 225px;
    height: 125px;
}

.pie{
    grid-area: pie;
    background-color: #140C03;
    height: auto;
    width: 100%;
}

.pie p{
    color: #008000;
    padding: 1rem 0 1rem 0;
    font-family: 'Dongle', sans-serif;
    font-size: 15px;
    vertical-align: top;
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 480px){
    .header{
        width: 480px;
        height: 80px;
    }

    .header-nav{
        width: 70%;
        height: 100%;
    }

    .header-ul{
        width: 100%;
        height: 100%;
    }

    .header-a{
        font-size: 20px;
    }

    .header-logo{
        width: 100px;
        height: 60px;
    }

/* MAIN INDEX */

    .main-section-one{
        height: 300px;
        width: 480px;
    }

    .main-img{
        width: 460px;
        height: 100%;
    }

    .main-ph{
        font-size: 25px;
        color: #140C03;
        top: 330px;
        left: 85px;
    }

    .main-section-two{
        background-color: #140C03;
        width: 473px;
        height: 330px;
    }

    .main-h2{
        font-family: 'Dongle', sans-serif;
        font-size: 35px;
        color: #008000;
        margin-top: 0px;
        margin-left: 208px;
        margin-bottom: 5px;
    }

    .main-h2-ph{
        position: absolute;
        top: 480px;
        left: 10px;
        font-size: 20px;
    }

    .main-btn{
        height: 40px;
        width: 100px;
        position: absolute;
        margin-left: 0px;
        margin-top: 10px;
        left: 200px;
        top: 515px;
    }

    .main-two-img{
        height: 150px;
        width: 300px;
        position: absolute;
        top: 550px;
        left: 95px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .main-pf-h2{
        font-size: 30px;
        margin-top: 10px;
        margin-left: 157px;
    }

    .main-pf{
        margin-bottom: 0px;
        width: 470px;
        height: 300px;
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 10px;
    }

    .main-div{
        padding: 10px;
        width: 100%;
        height: 100%;
    }
    
    .main-h3{
        font-family: 'Dongle', sans-serif;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 8px;
    }
    
    .main-p{
        font-family: 'Dongle', sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

/* MAIN LINEAS */ 

    .lineas-div-one{
    width: 480px;
    height: 350px;
    margin-top: 20px;
    }

    .lineas-img-one{
    width: 400px;
    height: 350px;
    margin-left: 30px;
    }

    .lineas-section-p1{
    font-size: 40px;
    left: 150px;
    top: 282px;
    }

    .lineas-div-two{
        width: 480px;
        height: 350px;
        margin-top: 20px;
    }
    
    .lineas-img-two{
        width: 400px;
        height: 350px;
        margin-left: 30px;
    }
    
    .lineas-section-p2{
        font-size: 40px;
        left: 150px;
        top: 632px;
    }

    .lineas-div-three{
        width: 480px;
        height: 350px;
        margin-top: 20px;
    }
    
    .lineas-img-three{
        width: 400px;
        height: 350px;
        margin-left: 30px;
    }
    
    .lineas-section-p3{
        font-size: 40px;
        left: 150px;
        top: 1000px;
    }

    .lineas-div-four{
        width: 480px;
        height: 350px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .lineas-img-four{
        width: 400px;
        height: 350px;
        margin-left: 30px;
    }
    
    .lineas-section-p4{
        font-size: 40px;
        left: 150px;
        top: 1390px;
    }

/* FOOTER */
    .footer{
        margin-top: 3px;
        grid-row-gap: 7px;
        height: 120px;
        width: 480px;
    }

    .footer-div{
        width: 100%;
        height: 100%;
    }

    footer div ul h3{
        font-size: 20px;
        margin-bottom: 3px;
    }

    footer div ul li{
        line-height: 20px;
    }

    footer div ul li p{
        font-size: 15px;
    }

    .footer-logo{
        width: 180px;
        height: 120px;
    }

    .pie{
        height: auto;
    }

    .pie p{
        font-size: 12px;
    }
}